* { 
  margin:0;
  padding:0;
}

footer p {
  margin: 0;
  padding-left: 1rem;
  color: white;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #483d8b;
  text-align: left;
  width: 100%;
  position: fixed;
  bottom: 0;
}