/* navagation bar */
#post nav {
    background-color: rebeccapurple;
    color: white;
}

#post .fa.fa-bars {
    color: white;
    font-size: 1.5rem;
}

#post h1 {
    font-size: 2rem;
}

#post h2 {
    font-size: 1.5rem;
}

#post button {
    background-color: rebeccapurple;
    color: white;
}

#post .post-date {
    font-size: 1rem;
}

#post .card-title {
    background-color: lavender;
}

#post .fa.fa-filter {
    float: right;
    color: rebeccapurple;
    font-size: 1.5rem;
}



